---
layout: page
title: "About"
description: "Welcom to Sheng's blog"
header-img: "image/rawa-sun-falling2-a.png"

---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

    <!--copied from markdown -->

<!-- Chinese Version -->
<div class="zh post-container">

    <blockquote><p>keep curious. Never stop learning<br>活到老，学到老</p></blockquote>

    <p>Welcome to <strong>gao sheng's (GS)</strong> blog. </p>
    <em> 半生足迹，尽在图中<em>
    <iframe id = "footprint" title = "半生足迹" width="480" height="320" src="/map.html" style="border: 1px solid black; width: 100%;" > 半生足迹，尽在图中</iframe>

    <p> A researcher and developer on machine learning, data science, speech recognition, nlp and image recognitin</p>
    <p> Love jogging, cooking and Kindle </p>
    
    <h5>Find me @</h5>

    <ul>
        <li><a href="https://www.linkedin.com/in/dlsheng/">LinkedIn</a></li>
        <li><a href="https://github.com/aigaosheng">GitHub</a></li> 
    </ul>
</div>

  <div id="mapid"></div>

  <script>
    // 初始化地图，以中国为中心
    const map = L.map('mapid').setView([35.0, 105.0], 4); // 中国中心

    // 使用 OpenStreetMap 瓦片地图（免费）
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 18,
      tileSize: 256,
      zoomOffset: 0
    }).addTo(map);

    // 定义足迹标记
    const locations = [
      { pos: [35.0708, 116.3103], popup: '金乡，山东，中国（家乡）' },
      { pos: [39.90606, 116.24752], popup: '北京，中国' },
      { pos: [34.24456, 108.91006], popup: "西安，陕西，中国" },
      { pos: [1.31062, 103.79249], popup: '新加坡' },
      { pos: [35.0632297, 116.3117506], popup: '金乡县花园小学，启蒙教育' },
      { pos: [35.0652551, 116.3045151], popup: '金乡县西关小学，启蒙教育' },
      { pos: [35.0634994, 116.3153393], popup: '金乡一中（王杰中学），中学 (84-89)' },
      { pos: [34.2445693, 108.910087], popup: '西工大，忘不了的酸汤水饺、棍棍面 (89-93)' },
      { pos: [39.9628001, 116.3559143], popup: '北邮，开启人工智能研究生涯 (93-96)' },
      { pos: [39.90606, 116.24752], popup: '中科院自动化所，NLPR，语音识别研发 (98-01)' },
      { pos: [1.3073018, 103.7879241], popup: '新加坡，2002年至今' }
    ];

    // 添加所有标记
    locations.forEach(loc => {
      L.marker(loc.pos).addTo(map).bindPopup(loc.popup);
    });

    // 可选：添加一个圆圈表示当前位置（示例）
    // L.circle([35.0708, 116.3103], {
    //   color: 'red',
    //   fillColor: '#f03',
    //   fillOpacity: 0.2,
    //   radius: 500
    // }).addTo(map);
  </script>

<!-- English Version -->
<!-- <div class="en post-container">
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

