---
layout: page
title: "Course"
description: "Course material"
header-img: "image/rawa-sun-falling2-a.png"
permalink: "/course/"
python_slides:
  {
    "Chapter 1 Slides": "https://drive.google.com/open?id=1OrBzhXwrhItDqIoKJLjis01Mkd4vq9jA2S_VBz3-Obc", 
    "Chapter 2 Slides": "https://drive.google.com/open?id=188nQUWvvVuvD6OfQVzXRVxC0YJeA8NIXwzONZJzIDTU",
    "Chapters 3 & 4 Slides": "https://drive.google.com/open?id=1sK-XGxPSt8AHq9ziaix4x54R07tVyXsRAfHf9ITB44w",
    "Chapter 5 Slides": "https://drive.google.com/open?id=1HWmBYYAMOmn83BUyQFSCB_1rvf22gzCBrXXHKMAe0BM",
    "Chapter 6 Slides": "https://docs.google.com/presentation/d/1MAt7yBKzZLXa13XNmbqzpsoWCBjTz_KiXfAmayVPyAg/edit?usp=sharing",
    "Chapter 6 Code": "https://drive.google.com/open?id=1kYb-CMOP7P1cFhHLwjcoQNmJrsKxU1AP",
    "Chapter 7 Slides": "https://drive.google.com/open?id=1AbjRkvLvA-AzKgI1nLhmykOIEN3Gvnt-JR2_6zrP6ic",	
    "Chapter 8 Slides": "https://drive.google.com/open?id=1saORlRLAIQ5HPB4dTzRt4OLvXw5yV-fIcYHTNFR6FvU"
  }

cplusplus_slides:
  {
    "Chapter 1 Slides": "https://drive.google.com/open?id=1Oj_2YVifYq_tvkOCpfjPqfeCPcz8MFY8", 
    "Chapter 2 Slides": "https://drive.google.com/open?id=1J79LuSh6YmBRL8TzGhIK4MQ7VmQEWekc",
    "Chapter 3 Slides": "https://drive.google.com/open?id=1CAewDcOdNqrv1bFT1QivjyiZGvXxgWtZ",
    "Chapter 4 Slides": "https://drive.google.com/open?id=12-YwIrCP5eqGgaqAmCSKSKUqk12_Y7T2",
    "Chapter 5 Slides": "https://drive.google.com/open?id=1BJovViQgAqvSj5ttIp-Lg1TXa2SkKJfl", 
    "Chapter 6 Slides": "https://drive.google.com/open?id=1B9sZa8O4gh_akKZeam_3xZ-XrMdLEJGj",
    "Chapter 7 Slides": "https://drive.google.com/open?id=16qzz6bWno3oLSUFLso2Is3LVdStIJ85d"
  }
---

<!-- Page Header -->
<div class="container">
	<h3 style="color: blue; text-decoration: underline;">Python Course Slides</h3>
	<ol>
		{% for key, value in page.python_slides %}
		<li>
			<a href="{{ value }}" style="text-decoration: none; border-bottom: 1px solid red;">
				{{ key | replace: "_", " " | replace: "slides", "Slides" | capitalize }}
			</a>
		</li>
		{% endfor %}
	</ol>
</div>

<div class="container">
	<h3 style="color: blue; text-decoration: underline;">C++ Course Slides and Sample Code</h3>
	<ol>
		{% for key, value in page.cplusplus_slides %}
		<li>
			<a href="{{ value }}" style="text-decoration: none; border-bottom: 1px solid red;">
				{{ key | replace: "_", " " | replace: "slides", "Slides" | capitalize }}
			</a>
		</li>
		{% endfor %}
	</ol>
</div>