---
layout: page
title: "Course"
description: "Course material"
header-img: "image/rawa-sun-falling2-a.png"
permalink: "/course/"
python_slides:
  {
    "Chapter 1 Slides": "https://drive.google.com/open?id=1OrBzhXwrhItDqIoKJLjis01Mkd4vq9jA2S_VBz3-Obc", 
    "Chapter 2 Slides": "https://drive.google.com/open?id=188nQUWvvVuvD6OfQVzXRVxC0YJeA8NIXwzONZJzIDTU",
    "Chapters 3 & 4 Slides": "https://drive.google.com/open?id=1sK-XGxPSt8AHq9ziaix4x54R07tVyXsRAfHf9ITB44w",
    "Chapter 5 Slides": "https://drive.google.com/open?id=1HWmBYYAMOmn83BUyQFSCB_1rvf22gzCBrXXHKMAe0BM",
    "Chapter 6 Slides": "https://docs.google.com/presentation/d/1MAt7yBKzZLXa13XNmbqzpsoWCBjTz_KiXfAmayVPyAg/edit?usp=sharing",
    "Chapter 6 Code": "https://drive.google.com/open?id=1kYb-CMOP7P1cFhHLwjcoQNmJrsKxU1AP",
    "Chapter 7 Slides": "https://drive.google.com/open?id=1AbjRkvLvA-AzKgI1nLhmykOIEN3Gvnt-JR2_6zrP6ic",	
    "Chapter 8 Slides": "https://drive.google.com/open?id=1saORlRLAIQ5HPB4dTzRt4OLvXw5yV-fIcYHTNFR6FvU"
  }

cplusplus_slides:
  {
    "Chapter 1 Slides": "https://drive.google.com/open?id=1Oj_2YVifYq_tvkOCpfjPqfeCPcz8MFY8", 
    "Chapter 2 Slides": "https://drive.google.com/open?id=1J79LuSh6YmBRL8TzGhIK4MQ7VmQEWekc",
    "Chapter 3 Slides": "https://drive.google.com/open?id=1CAewDcOdNqrv1bFT1QivjyiZGvXxgWtZ",
    "Chapter 4 Slides": "https://drive.google.com/open?id=12-YwIrCP5eqGgaqAmCSKSKUqk12_Y7T2",
    "Chapter 5 Slides": "https://drive.google.com/open?id=1BJovViQgAqvSj5ttIp-Lg1TXa2SkKJfl", 
    "Chapter 6 Slides": "https://drive.google.com/open?id=1B9sZa8O4gh_akKZeam_3xZ-XrMdLEJGj",
    "Chapter 7 Slides": "https://drive.google.com/open?id=16qzz6bWno3oLSUFLso2Is3LVdStIJ85d"
  }
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="site-heading" id="tag-heading">
          <h1>{{ page.title }}</h1>
          <span class="subheading">{{ page.description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

      <h3 class="text-primary"><u>Python Course Slides</u></h3>
      <ul class="list-unstyled">
        {% for title, url in page.python_slides %}
        <li class="mb-2">
          <a href="{{ url }}" target="_blank" style="text-decoration: none; border-bottom: 1px solid #d9534f;">
            {{ title }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <hr>

      <h3 class="text-primary"><u>C++ Course Slides and Sample Code</u></h3>
      <ul class="list-unstyled">
        {% for title, url in page.cplusplus_slides %}
        <li class="mb-2">
          <a href="{{ url }}" target="_blank" style="text-decoration: none; border-bottom: 1px solid #d9534f;">
            {{ title }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <hr>

      <h3 class="text-primary"><u>Self-Learning Resources</u></h3>

      <p>
        There are many great resources for self-learning programming. A great starting point is
        <a href="https://www.w3schools.com/python/" target="_blank" style="text-decoration: none; border-bottom: 1px solid #d9534f;">
          <span class="text-danger">w3schools.com</span>
        </a>, which provides interactive tutorials and examples for quick learning.
      </p>

      <p>
        After grasping the basics, the best place to master any language is its
        <strong>official documentation</strong>:
      </p>

      <ul>
        <li>
          <em>Python:</em>
          <a href="https://docs.python.org/3/tutorial/index.html" target="_blank" style="text-decoration: none; border-bottom: 1px solid #d9534f;">
            <span class="text-danger">Python 3 Tutorial</span>
          </a>
        </li>
        <li>
          <em>C++:</em>
          <a href="http://www.cplusplus.com/doc/tutorial/" target="_blank" style="text-decoration: none; border-bottom: 1px solid #d9534f;">
            <span class="text-danger">C++ Tutorial</span>
          </a>
        </li>
      </ul>

      <p>
        When facing errors or bugs, search the exact error message on
        <a href="https://stackoverflow.com/" target="_blank">StackOverflow</a> – most issues have been discussed with helpful solutions.
      </p>

    </div>
  </div>
</div>
