<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}



<!-- Image to hack wechat -->
<img src="/image/rawa-sun-falling3.jpg" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8709587192438304"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-8709587192438304"
     data-ad-slot="6023114022"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</body>

</html>