<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<input type="text" id="search-box" placeholder="Search posts..." />
<ul id="search-results"></ul>
<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/image/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
